.parallax{
    background-image: url('imagens/tomate-cultivo.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
}

.margemlateral {
    padding-left: 5%;
    padding-right: 5%;
}

.margemcima {
    padding-top: 10%;
}

.p {
    text-align: justify;
}