.parallax{
    background-image: url('imagens/tomate-cultivo.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
}

.margemlateral {
    padding-left: 5%;
    padding-right: 5%;
}

.margemcima {
    padding-top: 10%;
}

.margemcima2 {
    padding-top: 6%;
}

.margemcimainicio {
    padding-top: 22%;
}

.margembaixo {
    padding-top: 5%;
    padding-bottom: 10%;
}

.margembaixoinicio {
    padding-bottom: 8%;
}

.p {
    text-align: justify;
}

.rodape {
    background-color: #79bd87;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 5%;
    font-size: 22px;
    color: #ffffff;
    text-align: left;
}

.espaco {
    padding-right: 5%;
    padding-bottom: 3%;
}

.vermelho {
    color: red;
}

.texto-dado {
    font-size: 50px;
}